<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/favicon.png">
  <title>FarmYaar</title>
  <link rel="stylesheet" href="css/plugins.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/colors/aqua.css">
  <link rel="preload" href="css/fonts/thicccboi.css" as="style" onload="this.rel='stylesheet'">
</head>

<body>
  <div class="content-wrapper">
    <header class="wrapper bg-soft-primary">
      <nav class="navbar center-nav transparent navbar-expand-lg navbar-light">
        <div class="container flex-lg-row flex-nowrap align-items-center">
          <div class="navbar-brand w-100"><a href="/"><img src="img/logo-dark4.png" srcset="img/logo-dark4.png" alt="" /></a></div>
          <div class="navbar-collapse offcanvas-nav">
            <div class="offcanvas-header d-lg-none d-xl-none">
              <a href="/"><img src="img/logo-dark4.png" srcset="img/logo-dark4.png " alt="" /></a>
              <button type="button" class="btn-close btn-close-white offcanvas-close offcanvas-nav-close" aria-label="Close"></button>
            </div>
            <ul class="navbar-nav">
              <li class="nav-item dropdown"><a class="nav-link " href="/login">Admin Login</a></li>
              <li class="nav-item dropdown"><a class="nav-link " href="#!">Download App</a></li>
              <li class="nav-item dropdown"><a class="nav-link" href="/">About Us</a></li>
           </ul>
            <!-- /.navbar-nav -->
          </div>
          <!-- /.navbar-collapse -->
          <div class="navbar-other w-100 d-flex ms-auto">
            <ul class="navbar-nav flex-row align-items-center ms-auto" data-sm-skip="true">
              <li class="nav-item dropdown language-select text-uppercase">
                <a class="nav-link dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">En</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="dropdown-item" href="#">En</a></li>
           </ul>
              </li>
              <li class="nav-item"><a class="nav-link" data-toggle="offcanvas-info"><i class="uil uil-info-circle"></i></a></li>
              <li class="nav-item d-lg-none">
                <div class="navbar-hamburger"><button class="hamburger animate plain" data-toggle="offcanvas-nav"><span></span></button></div>
              </li>
            </ul>
            <!-- /.navbar-nav -->
          </div>
          <!-- /.navbar-other -->
        </div>
        <!-- /.container -->
      </nav>
      <!-- /.navbar -->

      <!-- /.offcanvas-info -->
    </header>
    <!-- /header -->
    <section class="wrapper bg-dark angled lower-start">
      <div class="container pt-7 pt-md-11 pb-8">
        <div class="row gx-0 gy-10 align-items-center">
          <div class="col-lg-6" data-cues="slideInDown" data-group="page-title" data-delay="600">
            <h1 class="display-1 text-white mb-4 text-white">FarmYarr Admin Page <br />
                <span class="typer text-primary text-nowrap" data-delay="100" data-delim=":" data-words="Add Post: Review Community feed: alert and notification"></span>
                <span class="cursor text-primary" data-owner="typer"></span></h1>
            <p class="lead fs-24 lh-sm text-white mb-1 pe-md-18 pe-lg-0 pe-xxl-15">Email</p>
            <input type="text">
            <p class="lead fs-24 lh-sm text-white mb-1 pe-md-18 pe-lg-0 pe-xxl-15">Password</p>
            <input type="password">




<style>
input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

</style>
</style>
















































            <div>
              <a href="/admin" class="btn btn-lg btn-primary rounded">Login</a>
            </div>
          </div>
          <!-- /column -->
          <div class="col-lg-5 offset-lg-1 mb-n18" data-cues="slideInDown">
            <div class="position-relative light-gallery-wrapper">
              <a href="https://vimeo.com/374265101" class="btn btn-circle btn-primary btn-play ripple mx-auto mb-6 lightbox position-absolute" style="top:50%; left: 50%; transform: translate(-50%,-50%); z-index:3;"><i class="icn-caret-right"></i></a>
              <figure class="rounded shadow-lg"><img src="https://media.istockphoto.com/id/1092520698/photo/indian-farmer-at-onion-field.jpg?s=170667a&w=0&k=20&c=22YBsnc7i3KXG8zilhJYA6KPK1Uvt4Q_pLvBgFTOfBI=" srcset="https://media.istockphoto.com/id/1092520698/photo/indian-farmer-at-onion-field.jpg?s=170667a&w=0&k=20&c=22YBsnc7i3KXG8zilhJYA6KPK1Uvt4Q_pLvBgFTOfBI=" alt=""></figure>
            </div>
            <!-- /div -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->

    <!-- /section -->

  <div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
  <script src="js/plugins.js"></script>
  <script src="js/theme.js"></script>
</body>

</html>